/* font */

/* palette */

:root {
  --bg1: #f7f7f7;
  --bg2: #efefef;
  --bg3: #dedede;
  --bg4: #cfcfcf;
  --bord: #4b5765;
  --txt: #292929;
  --primary: #415f79;
  --secondary: #4a88b8;
  --danger: #d0573f;
  --bg-hl: #f7f7f7;
  --bg-sel: #d8d8d8;
  --inactive: #949494;
  --glow: #fff4a377;
  --level1: #4ece8a55;
  --level2: #4ece8a99;
  --level3: #4ece8aff;
  --audio: #3d89a9;
}

.dark {
  --bg1: #1d1d1d;
  --bg2: #222222;
  --bg3: #161616;
  --bg4: #101010;
  --bord: #445d76;
  --txt: #d9d9d9;
  --primary: #94acb9;
  --secondary: #73bbd3;
  --danger: #d86e58ff;
  --bg-hl: #313131;
  --bg-sel: #3b3a39;
  --inactive: #949494;
  --glow: #28272755;
}

/* fonts */
$font1: "Lato", sans-serif;
$font2: "Ubuntu Mono", monospace;

/* sizes */
$gap-xs: 1px;
$gap-sm: 2.5px;
$gap-md: 5px;
$gap-ml: 7px;
$gap-lg: 10px;
$gap-xl: 15px;
$gap-xxl: 25px;

$txt-xs: 10px;
$txt-sm: 12px;
$txt-md: 15px;
$txt-ml: 18px;
$txt-lg: 24px;
$txt-xl: 30px;
$txt-xxl: 40px;

$border-sm: 1px;
$border-md: 1.5px;
$border-ml: 3px;
$border-lg: 5px;
$border-xl: 10px;

$radius-sm: 2.5px;
$radius-md: 5px;

$grow: 1.025;

$work-img-size: 225px;

$navbar-size: 280px;
