/* font */

/* palette */

:root {
  --bg1: #f6f6f6;
  --bg2: #ececec;
  --bg3: #d8d7d7;
  --bg3: #d5d5d5;
  --bord: #959595;
  --txt: #292929;
  --primary: #337fc2;
  --secondary: #6fb7eb;
  --danger: #d0573f;
  --bg-hl: #ffffff;
  --bg-sel: #d8d8d8;
  --inactive: #949494;
  --glow: #fff4a377;
}

.dark {
  --bg1: #292929;
  --bg2: #222222;
  --bg3: #161616;
  --bg4: #0b0b0b;
  --bord: #414141;
  --txt: #fcfcfcff;
  --primary: #6fade3;
  --secondary: #9dddff;
  --danger: #d86e58ff;
  --bg-hl: #313131;
  --bg-sel: #3b3a39;
  --inactive: #949494;
  --glow: #28272755;
}

/* fonts */
// $font1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
// $font2: "Courier New", Courier, monospace;
$font1: 'Lato', sans-serif;
$font2: 'Ubuntu Mono', monospace;;
// font-family: 'Ubuntu Mono', monospace;

// font-family: 'Lato', sans-serif;
// font-family: 'Rubik', sans-serif;
// font-family: 'Signika Negative', sans-serif;

/* sizes */
$gap-xs: 1px;
$gap-sm: 2.5px;
$gap-md: 5px;
$gap-lg: 10px;
$gap-xl: 15px;

$txt-xs: 10px;
$txt-sm: 12px;
$txt-md: 15px;
$txt-lg: 18px;
$txt-ml: 24px;
$txt-xl: 30px;

$border-sm: 1px;
$border-md: 1.5px;
$border-lg: 3px;

$radius-sm: 2.5px;
$radius-md: 5px;

$grow: 1.025;

$work-img-size: 225px;

$navbar-size: 280px;
