@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";
.navbar {
  @include v-stack;
  @include pad($gap-lg);
  position: fixed;
  height: 100vh;
  width: $navbar-size;
  border-right: $border-md solid var(--bord);
  .links {
    @include v-stack;
    @include t-pad($gap-lg);
    .navbar-link {
      @include h-stack-c;
      @include v-mar($gap-sm);
      @include round-border;
      @include link;
      @include pad($gap-lg);
      background-color: var(--bg2);
      font-size: $txt-md;
      .label {
        @include l-pad;
        text-transform: uppercase;
      }
    }
  }
}
