@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";

.img-outer {
  @include border;
  @include round;
  overflow: hidden;
  .img-inner {
    height: $work-img-size;
    width: 100%;
    @include trans;
    object-fit: cover;
    display: block;
  }
}
