@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";

.cv {
  @include v-mar;
  @include onload-animation(slide-right);
  .cv-item,
  .cv-header,
  .cv-subheader,
  .cv-subsubheader {
    @include v-pad($gap-sm);
  }
  .cv-hl {
    color: var(--primary);
  }
  .cv-header {
    font-size: large;
    font-weight: bold;
    text-align: center;
  }
  .cv-section {
    &,
    .cv-subsection {
      @include container;
      @include v-mar;
      @include h-pad($gap-lg);
    }
    .cv-subheader {
      font-size: medium;
      font-weight: bold;
    }
    .cv-subsubheader {
      font-weight: bold;
    }
  }
  .cv-term {
    @include v-stack;
    @include r-mar($gap-lg);
    width: 90px;
  }
  hr {
    width: 50px;
    height: 2px;
  }
}
