@import "../../../sass/mixins.scss";
$work-img-size: 200px;

.work-card {
  @include v-stack;
  @include border;
  @include pad($gap-lg);
  @include mar($gap-lg);
  @include round;
  @include trans;
	img {
		filter: grayscale(50%);
	}
  &:hover {
		img {
			filter: grayscale(10%);
		}
    scale: 1.05;
  }
  background-color: var(--bg2);
  .header {
    @include t-pad($gap-lg);
    .title {
      font-weight: bold;
    }
    .duration {
      color: var(--inactive);
    }
  }
  .header,
  .subtitle,
  .commission {
    text-align: center;
  }
  .subtitle {
    font-style: italic;
  }
}
