@import "../../../../sass/variables.scss";
@import "../../../../sass/mixins.scss";

.view-template {
  @include onload-animation(fade-in);
  width: 100%;
  overflow: auto;
  & > .header {
    text-transform: uppercase;
    font-size: $txt-ml;
    font-weight: bold;
    @include l-pad($gap-lg);
    @include vh-pad($gap-xl, $gap-md);
  }
}
