@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";

.image-slide {
  @include h-stack-c;
  @include h-center;
  .display {
		overflow: hidden;
    width: 100%;
    height: 400px;
    .img {
			@include h-center;
			@include round-border($size: $border-lg);
      height: 100%;
			object-fit: fit;
			background-position: center center;
    }
  }
	.material-icons {
		@include link;
	}
}
