@import "../../../../sass/mixins.scss";
@import "../../../../sass/variables.scss";

.langs {
	@include h-stack;
	flex-wrap: wrap;
  .lang {
    @include h-stack-c;
    vertical-align: middle;
    @include v-pad;
  }
  .icon {
    @include h-mar;
    @include h-stack-c;
    scale: 1.1;
  }
}
.libs {
  * {
    font-family: $font2;
  }
}
