@import "../../../../sass/mixins.scss";
@import "../../../../sass/variables.scss";

.publications-subview {
  @include v-stack-c;
  @include pad;
  align-items: center;
  .publication {
    @include round-border;
    @include vh-pad($gap-lg, $gap-lg);
    @include mar;
    width: 100%;
    background-color: var(--bg1);
    *:not(.icon) {
      font-size: $txt-ml;
    }
    .name {
      font-weight: bold;
    }
    .publisher {
      font-style: italic;
    }
  }
}
