@import "../../../../sass/mixins.scss";
@import "../../../../sass/variables.scss";

.experience-subview {
  @include b-pad($gap-lg);
  .header {
    @include v-pad;
    text-transform: uppercase;
    text-align: center;
  }
  .academic,
  .other-positions {
    @include v-mar;
    @include h-pad($gap-lg);
    .position {
      @include v-pad;
      text-align: center;
      .name {
        @include v-stack;
        font-size: $txt-ml;
        font-style: italic;
        color: var(--secondary);
      }
      .date {
        @include v-stack;
      }
      .workplace {
        font-weight: bold;
      }
      .courses {
        @include v-stack-c;
        @include v-pad;
        @include h-center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        text-align: left;
        border-spacing: $gap-lg $gap-sm;
        .course {
          .name,
          .terms {
            color: var(--txt);
            font-size: $txt-md;
          }
        }
      }
    }
  }
}
