@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";
.main-view {
	@include to-right;
	@include pad($gap-lg);
	overflow: hidden;
	height: 100vh;
	width: calc(100% - $navbar-size);
	background-color: var(--bg3);
}