@import "./sass/variables.scss";
@import "./sass/mixins.scss";
@import "./sass/elements.scss";
@import "./sass/classes-primitive.scss";
@import "./sass/classes-components.scss";

.app {
  background: linear-gradient(180deg, var(--bg1) 10%, var(--bg3));
  height: 100vh;
  overflow: auto;
}
