@import "./sass/variables.scss";
@import "./sass/mixins.scss";
@import "./sass/elements.scss";
@import "./sass/classes-primitive.scss";
@import "./sass/classes-components.scss";


.app {
  background-color: var(--bg1);
  height: 100vh;
  overflow: auto;
}
