@import "./sass/variables.scss";
@import "./sass/mixins.scss";
@import "./sass/classes-primitive.scss";
@import "./sass/classes-components.scss";

* {
  font-family: $font1;
  font-weight: 400;
  font-size: $txt-md;
  border-color: var(--bord);
  outline-width: $border-sm;
  outline-color: var(--bg-hl);
  border: 0.5px solid var(--bord);
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border-style: none;
}
