@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";
.tab {
	@include clickable;
	@include border;
	@include vh-pad($gap-sm, $gap-lg);
	border-top-left-radius: $radius-md;
	border-top-right-radius: $radius-md;
	&:not(.selected) {
		background-color: var(--bg-hl);
	}
	&.selected {
		background-color: var(--bg2);
		border-bottom: $border-md solid transparent;
	}
}