@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";
@import "../../../sass/breakpoints.scss";

.cv-view {
	@include b-mar($gap-xl);
	@include pad;
	.closed .icon {
		-webkit-writing-mode: horizontal-tb;
		    -ms-writing-mode: lr-tb;
		        writing-mode: horizontal-tb;
		@include mobile-up {
			transform: rotate(180deg);
		}
	}
	.icon {
		font-size: $txt-lg;
	}
	.cv-section-title {
		vertical-align: middle;
	}
	.open .icon {
		vertical-align: middle;
		text-align: middle;
	}
}